@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

html {
  background-color: #060f1e;
}

:root {
  --primary-color: #bc8628;
}

.bg-primary {
  background-color: #060f1e;
}

.code-font {
  font-family: "Encode Sans Expanded", sans-serif;
}

.main-color {
  color: #eaa327;
}
